@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.Itens.Count > 0)
{
    <li>
        <a asp-controller="CarrinhoCompra">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span id="cart-status">
                @Model.CarrinhoCompra.Itens.Count
            </span>
        </a>
    </li>
}
